.layout {
    height: 300vh;
    background: url("../src/etc/img/BACKGROUND.png") no-repeat center center;
    background-size: 100% 100%;
}
.container-fluid{
    padding: 0;
}



.iceberg__layer_sec2 {
    position: absolute;
    height: 100vh;
    top: 100vh;
    width: 100%;
}

.sec2__firstRow_iceberg {
    height: 33.3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.sec2__secondRow_iceberg {
    height: 53.39vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.sec2__firstRow__iceberg_iceberg1 {
}

.sec2__firstRow__iceberg_iceberg2 {
}
.image_iceberg img {
    position: static;

}
.sec2__secondRow__iceberg_iceberg1 {
    margin-left: 10%;
    height: 60%;
    width: 20%;
    z-index: 1;

}
.sec2__secondRow__iceberg_iceberg1 img{
    height: 40%;
    width: 40%;
}
.sec2__secondRow__iceberg_iceberg2 {
    margin-right: 10%;
    align-self: center;
}



.iceberg__layer_sec3 {
    position: absolute;
    height: 100vh;
    top: 200vh;
    width: 100%;
}
.sec3__firstRow_iceberg {
     height: 18.36vh;
    display: flex;
 }
.sec3__firstRow__iceberg_iceberg1 {
    align-self: flex-end;
}

.sec3__secondRow_iceberg {
    height: 58.4vh;
    display: flex;
    justify-content: flex-end;

}
.sec3__secondRow__iceberg_iceberg1{

}

.sec3__thirdRow_iceberg {
    height: 23.37vh;
    padding-left: 40vh;
}
.sec3__thirdRow__iceberg_iceberg1 {
    transform: scaleX(3);
}
.sec3__thirdRow__iceberg_iceberg1 img {
    height: 100%;
    width: 100%;
}
.sec3__rows{
    margin-right: 0 !important;
    margin-left: 0 !important;
}